<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Presents</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button (click)="openActionSheet()">
    action sheet
  </ion-button>
  
  <ion-button (click)="openAlert()">
    open alert
  </ion-button>

  <ion-button (click)="openToast()">
    toast
  </ion-button>
  <ion-button (click)="openModal()">
    Modal
  </ion-button>
</ion-content>
